<mat-sidenav-container>
  <mat-sidenav class="playlistSidebar" mode="side" opened="true">
      <mat-list dense>
          <span *ngFor="let item of musicservice.getPlaylists() | async">
              <mat-list-item (click)="musicservice.goToPlaylist(item)"> {{item}}
              </mat-list-item>
              <mat-divider></mat-divider>
          </span>
      </mat-list>

  </mat-sidenav>

  <mat-list dense class="music-list">
      <span *ngFor="let item of musics">
          <mat-list-item >
            {{item.title}}
            <button mat-button color="warn" class="float-right" (click)="musicservice.removeMusic(item.id)"><mat-icon>undo</mat-icon></button>
          </mat-list-item>
          <mat-divider></mat-divider>
      </span>
  </mat-list>


  <mat-list dense class="music-list">
    <h3>Current playlist</h3>
      <span *ngFor="let item of currentPlaylist">
          <mat-list-item >
            {{item.title}}
          </mat-list-item>
          <mat-divider></mat-divider>
      </span>
  </mat-list>



  <mat-toolbar class="action-toolbar">
    <md-card *ngIf="current">{{current.title}} </md-card>
    <mat-toolbar-row>
      <mat-slider
        class="full-width"
        min="0"
        [value]="progress.current | number : '1.'"
        [max]="progress.total"
        (change)="moveMusic($event)"
        thumb-label="false"
      >

      </mat-slider>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <div class="button-row">
        <button
        mat-raised-button
        (click)="togglePause()"
        color="primary"
        >
          <mat-icon *ngIf="!paused">pause</mat-icon>
          <mat-icon *ngIf="paused">play_arrow</mat-icon></button>

        <button
        mat-raised-button
        (click)="next()"
        color="primary"
        ><mat-icon>fast_forward</mat-icon></button>


        <button
        mat-raised-button
        (click)="musicservice.random()"
        color="primary"
        ><mat-icon>shuffle</mat-icon></button>

        <mat-icon>volume_down</mat-icon>
        <mat-slider
          class="full-width"
          min="0"
          [value]="volume"
          max="50"
          (change)="setVolume($event)"
          thumb-label="false"
        >
        </mat-slider>
          <mat-icon>volume_up</mat-icon>

        <button
        mat-raised-button
        (click)="musicservice.setVolume(5)"
        color="primary"
        ></button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

</mat-sidenav-container>
