/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
    padding: 0;
}

html, body, material-app, mat-sidenav-container, .my-content {
    margin: 0;
    width: 100%;
    height: 100%;
}
  
.button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.button-row button:not(:last-child) {
    margin-right: 20px;
}